# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
article.aux
article.bbl
article.blg
article.log
article.tdo
article.pdf
extra_figures/extra_figures.aux
extra_figures/extra_figures.bbl
extra_figures/extra_figures.blg
extra_figures/extra_figures.log
extra_figures/extra_figures.pdf
article.txt
